
*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background: url('./timg.jpg') 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
}

.wrapper{
    margin: 150px 300px;
}

.wrapper canvas{
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888;
    margin-bottom: 20px;
}

.wrapper .btn-list{
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .btn-list li{
    display: inline-block;
    margin-left: 40px;
    cursor: pointer;
}

.wrapper .btn-list li input{
    background: burlywood;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    transition-duration: .2s;
}

.wrapper .btn-list li input:hover{
    border: 1px solid brown;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .3);
}